@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

html {
    background: #313338;
    color: #f2f3f5;
    font-family: "Noto Sans";
    height: 100%;
}

body {
    height: 80%
}

* {
    scrollbar-width: auto;
    scrollbar-color: #1e1f22 #313338;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #1e1f22;
    border-radius: 10px;
    border: 3px solid #2b2d31;
}

hr {
    margin: 0px;
    margin-top: 22.178px;
    border: none;
    height: 2px;
    width: 175px;
    background-color: #4e50587a;
}

.main {
    width: 85%;
}

.aside {
    width: 15%;
}

h1,
h2,
h3,
h4 {
    padding: 0px;
    margin: 0px;
}

h1 {
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

h4 {
    font-weight: normal;
}

main {
    display: block;
    height: 100%;
    width: calc(100% - 275px);
    position: fixed;
    right: 0px;
    padding-right: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal {
    position: fixed;
    z-index: 11;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: #000000b1;
}

.modal-content {
    position: fixed;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2b2d31;
    width: 400px;
    padding: 20px;
}

.modal-content h5 {
    margin-bottom: 0px;
}

.modal-content input,
.modal-content select {
    width: 300px;
}

.qotd-config {
    background: #2b2d31;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    padding-left: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
}

.qotd-config::-webkit-scrollbar {
    width: 10px;
}

.qotd-config h5 {
    margin-bottom: 0px;
}

.config-title {
    color: #919ba4;
}

input,
select {
    color: #fff;
    background: #1e1f22;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    outline: none;
    border: none;
    padding-left: 10px;
    margin-top: 5px;
}

button {
    margin-top: 5px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    background: #5865f2;
    color: #fff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    transition: 200ms;
    font-weight: bold;
}

button:hover {
    transform: translateY(2px);
    background: #4752c4;
}

button:active {
    transform: translateY(0px);
    background: #3c45a5;
}

.qotd-queue {
    margin-top: 20px;
    width: 100%;
}

.tabs {
    width: 100%;
    display: flex;
}

.tab-button {
    background: #404249;
    color: #f2f3f5;
    width: 50%;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: 200ms;
    border: none;
    margin-left: 5px;
}

.tab-button:hover {
    background: #36383e;
}

.tab-button:active {
    background: #4b4e56;
}

.tab-button:active {
    transform: scale(0.95);
}

.list-title {
    position: sticky;
    top: 0;
    background: #313338;
    z-index: 10;
    margin-top: 20px;
    height: 35px;
    display: flex;
}

#list-title-text {
    width: 50%;
}

.cancel {
    background: #f23f42;
}

.cancel:hover {
    background: #c62424;
}

.cancel:active {
    background: #a12828;
}

.newpost,
.postnext {
    right: 0px;
    position: absolute;
    margin: 0;
    padding: 9px;
}

.newpost {
    right: 90px;
}

.postnext {
    background: #248046;
}

.postnext:hover {
    background: #1a6334;
}

.postnext:active {
    background: #15562b;
}

.questions {
    padding: 20px;
    width: 95%;
    height: 75%;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
    overflow-y: auto;
    transition: 200ms;
}

.question {
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    background: #2b2d31;
    border-radius: 15px;
    padding: 20px;
    overflow: hidden;
    box-shadow: rgba(90, 90, 100, 0.2) 0px 4px 12px;
}

.question * {
    position: relative;
}

.question:hover .delete,
.question.hover .delete {
    transform: translateX(0);
}

.delete {
    transform: translateX(100px);
    float: right;
    transition: 200ms;
    background: transparent;
    color: #ff0000;
    border: 1px solid #ff0000;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.delete:hover {
    background: #ff00008f;
}

.delete:active {
    background: #ff000061;
}

.question:hover .approve,
.question.hover .approve,
.question:hover .deny,
.question.hover .deny {
    transform: translateX(0);
}

.deny {
    transform: translateX(100px);
    float: right;
    transition: 200ms;
    background: transparent;
    color: #ff0000;
    border: 1px solid #ff0000;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.deny:hover {
    background: #ff00008f;
}

.deny:active {
    background: #ff000061;
}

.approve {
    transform: translateX(100px);
    float: right;
    transition: 200ms;
    background: transparent;
    color: #00ff00;
    border: 1px solid #00ff00;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.approve:hover {
    background: #00ff008f;
}

.approve:active {
    background: #00ff0061;
}

.header {
    top: 0px;
}

.footer {
    bottom: 0px;
}

.fade-in {
    animation: fadeIn 0.5s;
}

.fade-out {
    animation: fadeOut 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}